{% extends 'base.jinja2' %}
{% block content %}
<div style="width: 100%; max-width: 30em;">

<h1>trak.am</h1>
<p style="color: grey"><i>The service previously known as amtrak.live</i></p>

<h2>What happened to amtrak.live and amtrack.live?</h2>

I was repeatedly threatened with lawsuits regarding copyright infringement
despite nominative use. <code><a href="https://trak.am">trak.am</a></code>
is now the canonical location for this service.

<h2>amtraksucks.live? scamtrak.net?</h2>

I actually really like Amtrak, but am disappointed in their scummy
<a href="https://corsearch.com/brand-protection-solutions/">"Brand Protection Solution"</a>
which endlessly threatened me with lawsuits regarding the old domains.

These domain names are just a vent.

{% endblock %}

{% block footer_disclaimer %}{% endblock %}
