<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name=viewport content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    {% block extra_head %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
    <script src="{{ static('js/htmx.min.js') }}"></script>
    <script defer data-api="/api/event" data-domain="amtrack.live,amtrak.live,trains.durbin.ee" src="/js/script.js"></script>
    <style>
      a:visited {
        color: blue;
      }
      table {
        border-collapse: collapse;
      }
      th, td {
        padding-left: .25em;
        padding-right: .25em;
      }
      tr:nth-child(even) {
        background-color: ghostwhite;
      }
      table td, table th, table td *, table th * {
        vertical-align: top;
      }
    </style>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    {% block opengraph %}
    <title>{{ request.headers.get("HOST") }}</title>
    <meta property="og:title" content="{{ request.headers.get('HOST') }}" />
    <meta name="description" content="Ultra-lightweight Amtrak train status tracker.">
    <meta property="og:description" content="Ultra-lightweight Amtrak train status tracker.">
    {% endblock %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://{{ request.headers.get('HOST') }}{{ request.path }}" />
    <meta property="og:image" content="https://{{ request.headers.get('HOST') }}/static/opengraph.png" />
  </head>
  <body style="font-family: serif; box-sizing: border-box; height: 100vh; margin: 0; padding: 0;">
    <div style="max-width: 30em; min-height: 100%; display: flex; flex-direction: column;">
      <header style="width: 100%; font-size: smaller; background-color: #FFE1E6; color: #111111; text-align: center; flex-grow: 0; flex-shrink: 0;">
        <span>This application is being objected to by Amtrak via bogus malware/phishing complaints leading to inaccesibility on some domains.</span><br>
        <span>If you're unable to access it at {{ request.headers.get("HOST") }}, try one of:</span><br> 
        <span>
        {% set domains = ['amtrack.live', 'amtrak.live', 'trains.durbin.ee'] %}
        {% if request.headers.get("HOST") in domains %}
          {% set foo = domains.remove(request.headers.get("HOST")) %}
        {% endif %}
        {% for domain in domains %}
          {% if loop.last %} or {% endif %}<a href="https://{{ domain }}">{{ domain }}</a></span>
        {% endfor %}
      </header>
      <main style="flex-grow: 1;">
        {% block content %}
        {% endblock %}
      </main>
      <footer style="font-family: serif; margin-top: 1em; width: 100%; max-width: 30em; flex-grow: 0; flex-shrink: 0;">
        <small>Train status is sourced from Amtrak's <a href="https://www.amtrak.com/track-your-train.html">Track Your Train Map</a>, which should be the authoritative source for train information. This site is not affiliated with Amtrak, and no guarantees are made as to accuracy, timeliness or completeness of the data shown. Please use at your own risk.</small>
      </footer>
    </div>
  </body>
  <script>
  {% block js %}
  {% endblock %}
  </script>
</html>
