<!DOCTYPE html>
<html>
  <head>
    <meta name=viewport content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    {% block extra_head %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
