{% extends 'base.jinja2' %}
{% block content %}
<div style="width: 100%; max-width: 30em;">

<h1>trak.am</h1>
<p style="color: grey"><i>The service previously known as amtrak.live</i></p>

<p>
  This is the lightest weight tracker of Amtrak trains <a href="https://durbin.ee">I</a> could imagine (and implement).
</p>

<p>Learn more <a href="/about">about this service</a>.

<p>
  Only <a href="/trains"><b>active</b> trains</a> are available. No historic data is kept, and likely never will be!
</p>

<h2>What's here</h2>

<ul>
  <li>An index of <a href="/trains"><b>active</b> trains</a></li>
  <li>Pages for a given train number, that will load the most recently departed active train for that train number</li>
  <ul><li>Like <a href="/trains/42"><code>https://amtrack.live/trains/42</code></a> for the Pennsylvanian (42)</li></ul>
  <li>Pages for _specific_ trains when multiple <b>active</b> trains are running for a given train number</li>
  <ul>
    <li>For example, the <a href="/trains/6">California Zephyr (6)</a> often has multiple trains on the line with different initial departure dates</li>
    <li><code>https://amtrack.live/trains/6/YYYY-MM-DD</code></li>
    <li>Like <code>https://amtrack.live/trains/6/2024-05-23</code></li>
  </ul>
  <br>
  <li>JSON!</li>
  <ul>
    <li>For basically every URL, appending <code>/json</code> will give you a lump of JSON, to do with as you please.</li>
  </ul>
</ul>

</div>

{% endblock %}
