{% macro statuscolor(status) -%}
  {% if status < 1 %}maroon{% elif status == 0 %}grey{% elif status > 1 %}green{% else %}black{% endif %}
{%- endmacro %}

  <table style="font-size: .9em">
    <tr>
      <th>Station</th><th>Arrival</th><th>Departure</th>
    </tr>
    {% for station in train["stations"].values() %}
    <tr>
      <th>{{ station["code"] }}<br><small style="font-weight: normal; color: grey;">{{ stations.get(station["code"], {}).get("station_name", "") }}</small></th>
      <td>
        {% if station["arrived"] %}
          {% if station["actual"]["arrival"] %}
            <span style="color: black; font-weight: bold;">{{ station["actual"]["arrival"].astimezone(station["actual"]["arrival"].tzinfo).strftime("%-I:%M %p %Z") }}</span>
          {% endif %}
        {% elif station["estimated"]["arrival"] %}
          {% if station["estimated"]["arrival"] %}
            <span style="color: grey;">{{ station["estimated"]["arrival"].astimezone(station["estimated"]["arrival"].tzinfo).strftime("%-I:%M %p %Z") }}</span>
          {% endif %}
        {% else %}
          {% if station["scheduled"]["arrival"] %}
            <span style="color: lightgrey;">{{ station["scheduled"]["arrival"].astimezone(station["scheduled"]["arrival"].tzinfo).strftime("%-I:%M %p %Z") }}</span>
          {% endif %}
        {% endif %}
        {% if station["arrived"] %}
          <br><small style="float: right; color: {{ statuscolor(station["actual"]["status"]) }};">{% if station["actual"]["pretty_comment"] %}{{ station["actual"]["pretty_comment"] }}{% endif %}</small>
        {% else %}
          <br><small style="float: right; color: {{ statuscolor(station["estimated"]["status"]) }};">{% if station["estimated"]["pretty_arrival_comment"] %}{{ station["estimated"]["pretty_arrival_comment"] }}{% endif %}</small>
        {% endif %}
      </td>
      <td>
        {% if station["departed"] %}
          {% if station["actual"]["departure"] %}
            <span style="color: black; font-weight: bold;">{{ station["actual"]["departure"].astimezone(station["actual"]["departure"].tzinfo).strftime("%-I:%M %p %Z") }}</span>
          {% endif %}
        {% elif station["estimated"]["departure"] %}
          <span style="color: grey;">{{ station["estimated"]["departure"].astimezone(station["estimated"]["departure"].tzinfo).strftime("%-I:%M %p %Z") }}</span>
        {% else %}
          {% if station["scheduled"]["departure"] %}
            <span style="color: lightgrey;">{{ station["scheduled"]["departure"].astimezone(station["scheduled"]["departure"].tzinfo).strftime("%-I:%M %p %Z") }}</span>
          {% endif %}
        {% endif %}
        {% if station["departed"] %}
          <br><small style="float: right; color: {{ statuscolor(station["actual"]["status"]) }};">{% if station["actual"]["pretty_comment"] %}{{ station["actual"]["pretty_comment"] }}{% endif %}</small>
        {% else %}
          <br><small style="float: right; color: {{ statuscolor(station["estimated"]["status"]) }};">{% if station["estimated"]["pretty_departure_comment"] %}{{ station["estimated"]["pretty_departure_comment"] }}{% endif %}</small>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  <div style="width: 100%; max-width: 25em;">
    <span><small>Last Updated (from Amtrak): {{ train["last_update"].astimezone(train["last_update"].tzinfo).strftime("%-I:%M:%S %p %Z") }}{% if train["state"] != "Active" %} ({{train["state"]}}){% endif %}</small><br></span>
    <span><small>Last Fetched (by this site): {{ train["last_fetched"].astimezone(train["last_fetched"].tzinfo).strftime("%-I:%M:%S %p %Z") }}</small></span>
  </div>
