{% extends 'base.jinja2' %}
{% block content %}
<h1>Active Trains</h1>
{% set all_trains = [] %}
{% for numbered_trains in trains.values() %}
  {% for numbered_train in numbered_trains %}
    {{ all_trains.append(numbered_train) or "" }}
  {% endfor %}
{% endfor %}
{% for route_name, trains in all_trains|groupby("route_name") %}
<h2>{{ route_name }}</h2>
{% for train in trains|sort(attribute="train_number,scheduled_departure") %}
  <a href="/trains/{{ train["train_number"] }}/{{ train["departure_date"].strftime("%Y-%m-%d") }}">
    {{ train["train_number"] }} 
    <small>({{ train["scheduled_departure"].strftime("%-I:%M %p %-m-%-d %Z") }} {{ train["terminuses"][0] }} → {{ train["terminuses"][1] }}{% if train.get("latest_status") %} {{ train.get("latest_status") }}{% endif %})</small>
  </a><br>
{% endfor %}
{% endfor %}
{% endblock %}
