  <table style="font-size: .9em">
    <tr>
      <th>Station</th><th>Arrival</th><th>Comment</th><th>Departure</th><th>Comment</th>
    </tr>
    {% for station in train["stations"].values() %}
    <tr>
      <th>{{ station["code"] }}</th>
      <td>
        {% if station["arrived"] %}
          {% if station["actual"]["arrival"] %}
            <span style="color: green">{{ station["actual"]["arrival"].astimezone(station["actual"]["arrival"].tzinfo).strftime("%-I:%M %p %Z") }}</span>
          {% endif %}
        {% else %}
          {% if station["estimated"]["arrival"] %}
            <span style="color: grey">{{ station["estimated"]["arrival"].astimezone(station["estimated"]["arrival"].tzinfo).strftime("%-I:%M %p %Z") }}</span>
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if station["arrived"] %}
          <small>{% if station["actual"]["comment"] %}{{ station["actual"]["comment"] }}{% endif %}</small>
        {% else %}
          <small>{% if station["estimated"]["arrival_comment"] %}{{ station["estimated"]["arrival_comment"] }}{% endif %}</small>
        {% endif %}
      </td>
      <td>
        {% if station["departed"] %}
          {% if station["actual"]["departure"] %}
            <span style="color: green">{{ station["actual"]["departure"].astimezone(station["actual"]["departure"].tzinfo).strftime("%-I:%M %p %Z") }}</span>
          {% endif %}
        {% else %}
          {% if station["estimated"]["departure"] %}
            <span style="color: grey">{{ station["estimated"]["departure"].astimezone(station["estimated"]["departure"].tzinfo).strftime("%-I:%M %p %Z") }}</span>
          {% endif %}
        {% endif %}
      </td>
      <td>
        {% if station["departed"] %}
          <small>{% if station["actual"]["comment"] %}{{ station["actual"]["comment"] }}{% endif %}</small>
        {% else %}
          <small>{% if station["estimated"]["departure_comment"] %}{{ station["estimated"]["departure_comment"] }}{% endif %}</small>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  <small>Last Updated (from Amtrak): {{ train["last_update"] }}</small><br>
  <small>Last Fetched (by this site): {{ train["last_fetched"] }}</small>
