{% extends 'base.jinja2' %}
{% block opengraph %}
    <title>{{ request.headers.get("HOST") }} - {{ train["route_name"] }} #{{ train["train_number"] }} </title>
    <meta property="og:title" content="{{ request.headers.get('HOST') }} - {{ train["route_name"] }} #{{ train["train_number"] }}" />
    <meta name="description" content="{{ train["route_name"] }} #{{ train["train_number"] }} - Ultra-lightweight Amtrak train status tracker.">
    <meta property="og:description" content="{{ train["route_name"] }} #{{ train["train_number"] }} - Ultra-lightweight Amtrak train status tracker.">
{% endblock %}
{% block content %}
<h1 style="margin-block-end: .25em; margin-block-start: .25em;">{{ train["route_name"] }} #{{ train["train_number"] }}</h1>
<p style="margin-block-end: .25em; margin-block-start: .25em;"><small>Initial Departure: {{ train["departure_date"].strftime("%Y-%m-%d") }}</small></p>
{% if train_ids|length > 1 %}
  <small>Other trains:</small><br>
  {% for id, date in train_ids %}
    {% if train["id"] != id %}<small>  * <a href="/trains/{{ train["train_number"] }}/{{ date.strftime("%Y-%m-%d") }}">Initial Departure: {{ date.strftime("%Y-%m-%d") }}</a></small><br>{% endif %}
  {% endfor %}
  <br>
{% endif %}
<div><button id="toggleDeparted" onclick="toggleDeparted()">Hide Departed</button></div>
<div hx-get="/trains/{{ train["train_number"] }}/{{ train["id"] }}/_partial" hx-trigger="every 5s" hx-swap="innerHTML transition:true" hx-indicator="#spinner">
  {% include 'train_partial.jinja2' %}
</div>
<span id="spinner" class="htmx-indicator" style="font-size: smaller; color: lightgrey;">Loading...</span>
{% endblock %}
{% block js %}
var departedVisible = JSON.parse(localStorage.getItem("departedVisible"));
console.log(departedVisible);
if (departedVisible === null) {
  departedVisible = true;
}

function updateDeparted() {
  elements = document.getElementsByClassName('departed');
  if (departedVisible) {
    Array.prototype.forEach.call(elements, function(element) {
      element.style.display = "";
    });
    document.getElementById("toggleDeparted").innerHTML = "Hide Departed";
  } else {
    Array.prototype.forEach.call(elements, function(element) {
      element.style.display = "none";
    });
    document.getElementById("toggleDeparted").innerHTML = "Show Departed";
  }
}

function toggleDeparted() {
  if (departedVisible) {
    departedVisible = false;
  } else {
    departedVisible = true;
  }
  updateDeparted();
  localStorage.setItem("departedVisible", departedVisible);
}

updateDeparted();
{% endblock %}
