  <table style="font-size: .9em">
    <tr>
      <th>Station</th><th>Arrival</th><th>Comment</th><th>Departure</th><th>Comment</th>
    </tr>
    {% for station in train["stations"].values() %}
    <tr>
      <th>{{ station["code"] }}</th>
      <td>
        {% if station["arrived"] %}
          <span style="color: green">{{ station["actual"]["arrival"] }}</span>
        {% else %}
          <span style="color: grey">{{ station["estimated"]["arrival"] }}</span>
        {% endif %}
      </td>
      <td>
        {% if station["arrived"] %}
          <small>{% if station["actual"]["comment"] %}{{ station["actual"]["comment"] }}{% endif %}</small>
        {% else %}
          <small>{% if station["estimated"]["arrival_comment"] %}{{ station["estimated"]["arrival_comment"] }}{% endif %}</small>
        {% endif %}
      </td>
      <td>
        {% if station["departed"] %}
          <span style="color: green">{{ station["actual"]["departure"] }}</span>
        {% else %}
          <span style="color: grey">{{ station["estimated"]["departure"] }}</span>
        {% endif %}
      </td>
      <td>
        {% if station["departed"] %}
          <small>{% if station["actual"]["comment"] %}{{ station["actual"]["comment"] }}{% endif %}</small>
        {% else %}
          <small>{% if station["estimated"]["departure_comment"] %}{{ station["estimated"]["departure_comment"] }}{% endif %}</small>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  <small>Last Updated (from Amtrak): {{ train["last_update"] }}</small><br>
  <small>Last Fetched (by this site): {{ train["last_fetched"] }}</small>
