{% extends 'base.jinja2' %}
{% block content %}
<h1>{{ train["route_name"] }}</h1>
<div hx-get="/trains/{{ train["train_number"] }}/_partial" hx-trigger="every 5s" hx-swap="innerHTML transition:true">
  {% include 'train_partial.jinja2' %}
</div>
{% endblock %}
